## Build:
/bin/
/build/
/shared/bin/
/shared/build/
/client/bin/
/client/build/
/client-lwjgl/bin/
/client-lwjgl/build/
/client-bootstrap/bin/
/client-bootstrap/build/
/server/bin/
/server/build/
/server-bootstrap/bin/
/server-bootstrap/build/

## Gradle:
.gradle/

## Java:
*.class

## IntelliJ:
.idea/

## Eclipse:
.settings/
.classpath
.project
*.launch

## OS:
.DS_Store
Thumbs.db